footer {
    background-color: var(--background-accent-color);
    padding: 60px 0;
}

.footer-сontent {
    margin-right: 70px;
}

.logo-footer {
    margin-bottom: 20px;
}


.footer-page {
    display: flex;
    align-items: baseline;
}