.filter-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.filter-list__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--background-grey-color);
    border-radius: 4px;

    padding: 6px 22px;

    transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.filter-list__item + .filter-list__item {
    margin-left: 8px;
}

.filter-list__button:hover,
.filter-list__button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: -30px;
}


.portfolio-list__item {
    background: var(--primary-white-color);

    flex-basis: calc(100% / 3 - 30px);

    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-list__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-list__top-text {
    position: absolute;
    top: 0;
    transform: translateY(101%);

    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    height: 100%;

    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px 63px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__link:hover .portfolio-list__top-text,
.portfolio-list__link:focus .portfolio-list__top-text {
    transform: translateY(0);
}

.portfolio-list__photo {
    display: block;
}

.portfolio-list__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.portfolio-list__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}

.portfolio-list__content {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}