.footer-contacts__link {
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--accent-white-color);
    font-style: normal;
    display: inline-block;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-link--white {
    color: var(--primary-white-color);
}

.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts__item+.header-contacts__item {
    margin-left: 50px;
}

.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: inherit;

    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}