.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts__item+.header-contacts__item {
    margin-left: 50px;
}


.header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;

    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;

}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}


.footer-contacts__link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);

    display: inline-block;
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-link--white {
    color: var(--primary-white-color);
}